body {
  padding: 10px;
  margin: opx;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  min-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
  margin-bottom: 4px;
}

button {
  background: #5f9341;
  color: white;
  border: 1px solid #5f9341;
  padding: 10px 20px;
  font-weight: bold;
}

#delete-btn {
  color: #5f9341;
  background: white;
}

ul {
  /* color: #5f9341; */
  list-style-type: none;
  padding-left: 0px;
  margin-top: 20px;
}

li {
  /* color: #5f9341; */
  margin-top: 5px;
}

a {
  color: #5f9341;
}
